<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Python Problemset — задачи по Python с автопроверкой">
    <title>Python Problemset</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/addon/hint/show-hint.css">
    <link rel="stylesheet" href="{% static 'planner/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/mode/python/python.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/addon/edit/closebrackets.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/addon/edit/matchbrackets.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/addon/comment/comment.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/addon/selection/active-line.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/addon/hint/show-hint.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.16/addon/hint/anyword-hint.js" defer></script>
    <script src="{% static 'planner/editor.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="background-layer"></div>
    <header class="topbar">
        <div class="brand">
            <a class="brand-mark" href="{% url 'dashboard' %}"class="brand-text">Problem set</a>
        </div>
        <nav class="nav-links">
            <a href="{% url 'dashboard' %}">Задачи</a>
            {% if user.is_authenticated %}
                <span class="nav-user">{{ user.username }}</span>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Выйти</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
